@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
    
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.background {
    width: 100%;
    height: 50vh;
    padding-top; 500px;
    background-color: #99C2FF;
    overflow: hidden;
    position: relative;
}

.pulse {
    height: 50vh;
    width: 100%;
    position: absolute;
    background-image: url(../artwork/clouds.svg);
    background-repeat: repeat;
    background-position: center;
    -webkit-animation: clouds-scale 5s ease-in-out infinite alternate;
    animation: clouds-scale 5s ease-in-out infinite alternate;
}

.sun {
    width: 30%;
    max-width: 150px;
    position: absolute;
    top: 5%;
    left: 38%;
    -webkit-animation:sun-rotate 35s ease-in-out infinite alternate;
    animation: sun-rotate 35s ease-in-out infinite alternate;
}

.cloud2 {
    width: 45%;
    max-width: 300px;
    position: absolute;
    top: 7%;
    left: 20%;
}

.cloud2:hover {
    -webkit-animation: clouds2-float 3s ease-in-out infinite;
    animation: clouds2-float 3s ease-in-out infinite;
}

.cloud {
    width: 40%;
    max-width: 300px;
    position: absolute;
    top: 6%;
    right: 7%;
}

.cloud:hover {
    -webkit-animation: clouds2-float 3s ease-in-out infinite;
    animation: clouds2-float 3s ease-in-out infinite;
}

.nav-items {
    list-style: none;
    background-color: white;
    top: 60px;
    padding: 0;
    display: none;
}

.nav-li:hover {
    background-color: #7A9BCC;
    top: 60px;
    color: white;
}

.nav-li {
    display: block;
    padding: .5em;
}

.toggle{
    width: 46px;
    position: absolute;
    top: 15px;
    left: calc(92% - 23px);
}

.button {
    width: 90px;
    position: absolute;
    bottom: 10px;
    left: calc(50% - 45px);
}

.button:hover {
    width: 95px;
}

.text {
    position: absolute;
    bottom: 24%;
}

.js-toggle-appear {
    display: block;
    -webkit-animation: slow-open 500ms ease-out;
    animation: slow-open 500ms ease-out;
}

.beach {
    width: 80%;
    border: 8px solid #7A9BCC;
    border-radius: 1em;
    display: block;
    margin: 0 auto;
}

.things-to-do {
   font-family: 'Raleway', sans-serif;
   font-size: 1rem;
   background-color: #99C2FF;
   border: solid 5px #99C2FF;
   border-radius: 2rem;
}

.things-to-do:hover {
  background-color: #7A9BCC;
  border: solid 5px #7A9BCC;
  border-radius: 2rem;
  color: white;
}

.to-do {
    display: none;
}

.js-to-do-appear {
    display: block;
    -webkit-animation: slow-open 300ms ease-out;
    animation: slow-open 300ms ease-out;
}

.things-to-see {
   font-family: 'Raleway', sans-serif;
   font-size: 1rem;
   background-color: #99C2FF;
   border: solid 5px #99C2FF;
   border-radius: 2rem;   
}

.things-to-see:hover {
  background-color: #7A9BCC;
  border: solid 5px #7A9BCC;
  border-radius: 2rem;
  color: white;
}

.to-see {
    display: none;
}

.js-to-see-appear {
    display: block;
    -webkit-animation: slow-open 300ms ease-out;
    animation: slow-open 300ms ease-out;
}

.things-to-go {
   font-family: 'Raleway', sans-serif;
   font-size: 1rem;
   background-color: #99C2FF;
   border: solid 5px #99C2FF;
   border-radius: 2rem;
   
}

.things-to-go:hover {
  background-color: #7A9BCC;
  border: solid 5px #7A9BCC;
  border-radius: 2rem;
  color: white;
}

.to-go {
    display: none;
}

.js-to-go-appear {
    display: block;
    -webkit-animation: slow-open 300ms ease-out;
    animation: slow-open 300ms ease-out;
   
}

@keyframes slow-open {
    
    0% {
        max-height: 0em;
    }
    
    100% {
        max-height: 10em;
    }
    
}

@-webkit-@keyframes slow-open {
    
    0% {
        max-height: 0em;
    }
    
    100% {
        max-height: 10em;
    }
    
}

@keyframes sun-rotate {
    
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
    
}

@-webkit-keyframes sun-rotate {
    
    0% { -webkit-transform: rotate(0deg);
    }
    
    100% { -webkit-transform: rotate(360deg);
    }
    
}

@keyframes clouds-scale {
   0% { transform: scale(1, 1); }
   100% { transform: scale(1.1, 1.1); } 
}

@-webkit-keyframes clouds-scale {
  0% { -webkit-transform: scale(1, 1); }
  100% { -webkit-transform: scale(1.1, 1.1); }
}

@keyframes clouds-float {
  0% { transform: translate(0, 0); }
  25% { transform: translate(-25px, -12px); }
  50% { transform: translate(25px, 12px); }
  75% { transform: translate(-25px, -12px); }
  100% { transform: translate(0, 0); }
}

@keyframes clouds2-float {
  0% { transform: translate(0, 0); }
  25% { transform: translate(25px, -12px); }
  50% { transform: translate(-25px, -12px); }
  75% { transform: translate(12px, 25px); }
  100% { transform: translate(0, 0); }
}

@-webkit-keyframes clouds-float {
  0% { -webkit-transform: translate(0, 0); }
  25% { -webkit-transform: translate(-25px, -12px); }
  50% { -webkit-transform: translate(25px, 12px); }
  75% { -webkit-transform: translate(-25px, -12px); }
  100% { -webkit-transform: translate(0, 0); }
}

@-webkit-keyframes clouds2-float {
  0% { -webkit-transform: translate(0, 0); }
  25% { -webkit-transform: translate(25px, -12px); }
  50% { -webkit-transform: translate(-25px, -12px); }
  75% { -webkit-transform: translate(12px, 25px); }
  100% { -webkit-transform: translate(0, 0); }
}

@media only screen and (min-width: 25em) {

    }

@media only screen and (min-width: 38em) {

    .sun {
        position: absolute;
        top: 10%;
        left: 50%;
}
    
    .cloud2 {
        left: 30%;
    }

    .cloud {
        right: 5%;
    }    
    

@media only screen and (min-width: 60em) {
    .cloud2 {
        left: 35%;
    }

    .cloud {
        right: 20%;
    } 

}

    
/*
THE PLAN:
Sun rotate slowly when automatically
Background clouds pulse automatically
Button enlarges when hovered over
Foreground clouds either pulse or bob when hovered
*/
